<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT"> <PatternLayout pattern="%d %p %m%n" /> </Console>
        <File name="LIBSVM_POLY_G_neg_C_small" filename="logs/LIBSVM_POLY_G_neg_C_small.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_POLY_G_zero_C_small" filename="logs/LIBSVM_POLY_G_zero_C_small.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_POLY_G_pos_C_small" filename="logs/LIBSVM_POLY_G_pos_C_small.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_POLY_G_neg_C_med" filename="logs/LIBSVM_POLY_G_neg_C_med.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_POLY_G_zero_C_med" filename="logs/LIBSVM_POLY_G_zero_C_med.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_POLY_G_pos_C_med" filename="logs/LIBSVM_POLY_G_pos_C_med.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_POLY_G_neg_C_high" filename="logs/LIBSVM_POLY_G_neg_C_high.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_POLY_G_zero_C_high" filename="logs/LIBSVM_POLY_G_zero_C_high.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_POLY_G_pos_C_high" filename="logs/LIBSVM_POLY_G_pos_C_high.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_RBF_G_neg_C_small" filename="logs/LIBSVM_RBF_G_neg_C_small.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_RBF_G_zero_C_small" filename="logs/LIBSVM_RBF_G_zero_C_small.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_RBF_G_pos_C_small" filename="logs/LIBSVM_RBF_G_pos_C_small.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_RBF_G_neg_C_med" filename="logs/LIBSVM_RBF_G_neg_C_med.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_RBF_G_zero_C_med" filename="logs/LIBSVM_RBF_G_zero_C_med.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_RBF_G_pos_C_med" filename="logs/LIBSVM_RBF_G_pos_C_med.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_RBF_G_neg_C_high" filename="logs/LIBSVM_RBF_G_neg_C_high.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_RBF_G_zero_C_high" filename="logs/LIBSVM_RBF_G_zero_C_high.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_RBF_G_pos_C_high" filename="logs/LIBSVM_RBF_G_pos_C_high.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_SIG_G_neg_C_small" filename="logs/LIBSVM_SIG_G_neg_C_small.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_SIG_G_zero_C_small" filename="logs/LIBSVM_SIG_G_zero_C_small.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_SIG_G_pos_C_small" filename="logs/LIBSVM_SIG_G_pos_C_small.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_SIG_G_neg_C_med" filename="logs/LIBSVM_SIG_G_neg_C_med.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_SIG_G_zero_C_med" filename="logs/LIBSVM_SIG_G_zero_C_med.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_SIG_G_pos_C_med" filename="logs/LIBSVM_SIG_G_pos_C_med.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_SIG_G_neg_C_high" filename="logs/LIBSVM_SIG_G_neg_C_high.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_SIG_G_zero_C_high" filename="logs/LIBSVM_SIG_G_zero_C_high.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
        <File name="LIBSVM_SIG_G_pos_C_high" filename="logs/LIBSVM_SIG_G_pos_C_high.log"> <PatternLayout pattern="%d %p %m%n" /> </File>
    </Appenders>
    <Loggers>
        <Root level="trace"> <appender-ref ref="Console" />   </Root>
        <logger name="LIBSVM_POLY_G_neg_C_small" level="debug"> <appender-ref ref="LIBSVM_POLY_G_neg_C_small" /> </logger>
        <logger name="LIBSVM_POLY_G_zero_C_small" level="debug"> <appender-ref ref="LIBSVM_POLY_G_zero_C_small" /> </logger>
        <logger name="LIBSVM_POLY_G_pos_C_small" level="debug"> <appender-ref ref="LIBSVM_POLY_G_pos_C_small" /> </logger>
        <logger name="LIBSVM_POLY_G_neg_C_med" level="debug"> <appender-ref ref="LIBSVM_POLY_G_neg_C_med" /> </logger>
        <logger name="LIBSVM_POLY_G_zero_C_med" level="debug"> <appender-ref ref="LIBSVM_POLY_G_zero_C_med" /> </logger>
        <logger name="LIBSVM_POLY_G_pos_C_med" level="debug"> <appender-ref ref="LIBSVM_POLY_G_pos_C_med" /> </logger>
        <logger name="LIBSVM_POLY_G_neg_C_high" level="debug"> <appender-ref ref="LIBSVM_POLY_G_neg_C_high" /> </logger>
        <logger name="LIBSVM_POLY_G_zero_C_high" level="debug"> <appender-ref ref="LIBSVM_POLY_G_zero_C_high" /> </logger>
        <logger name="LIBSVM_POLY_G_pos_C_high" level="debug"> <appender-ref ref="LIBSVM_POLY_G_pos_C_high" /> </logger>
        <logger name="LIBSVM_RBF_G_neg_C_small" level="debug"> <appender-ref ref="LIBSVM_RBF_G_neg_C_small" /> </logger>
        <logger name="LIBSVM_RBF_G_zero_C_small" level="debug"> <appender-ref ref="LIBSVM_RBF_G_zero_C_small" /> </logger>
        <logger name="LIBSVM_RBF_G_pos_C_small" level="debug"> <appender-ref ref="LIBSVM_RBF_G_pos_C_small" /> </logger>
        <logger name="LIBSVM_RBF_G_neg_C_med" level="debug"> <appender-ref ref="LIBSVM_RBF_G_neg_C_med" /> </logger>
        <logger name="LIBSVM_RBF_G_zero_C_med" level="debug"> <appender-ref ref="LIBSVM_RBF_G_zero_C_med" /> </logger>
        <logger name="LIBSVM_RBF_G_pos_C_med" level="debug"> <appender-ref ref="LIBSVM_RBF_G_pos_C_med" /> </logger>
        <logger name="LIBSVM_RBF_G_neg_C_high" level="debug"> <appender-ref ref="LIBSVM_RBF_G_neg_C_high" /> </logger>
        <logger name="LIBSVM_RBF_G_zero_C_high" level="debug"> <appender-ref ref="LIBSVM_RBF_G_zero_C_high" /> </logger>
        <logger name="LIBSVM_RBF_G_pos_C_high" level="debug"> <appender-ref ref="LIBSVM_RBF_G_pos_C_high" /> </logger>
        <logger name="LIBSVM_SIG_G_neg_C_small" level="debug"> <appender-ref ref="LIBSVM_SIG_G_neg_C_small" /> </logger>
        <logger name="LIBSVM_SIG_G_zero_C_small" level="debug"> <appender-ref ref="LIBSVM_SIG_G_zero_C_small" /> </logger>
        <logger name="LIBSVM_SIG_G_pos_C_small" level="debug"> <appender-ref ref="LIBSVM_SIG_G_pos_C_small" /> </logger>
        <logger name="LIBSVM_SIG_G_neg_C_med" level="debug"> <appender-ref ref="LIBSVM_SIG_G_neg_C_med" /> </logger>
        <logger name="LIBSVM_SIG_G_zero_C_med" level="debug"> <appender-ref ref="LIBSVM_SIG_G_zero_C_med" /> </logger>
        <logger name="LIBSVM_SIG_G_pos_C_med" level="debug"> <appender-ref ref="LIBSVM_SIG_G_pos_C_med" /> </logger>
        <logger name="LIBSVM_SIG_G_neg_C_high" level="debug"> <appender-ref ref="LIBSVM_SIG_G_neg_C_high" /> </logger>
        <logger name="LIBSVM_SIG_G_zero_C_high" level="debug"> <appender-ref ref="LIBSVM_SIG_G_zero_C_high" /> </logger>
        <logger name="LIBSVM_SIG_G_pos_C_high" level="debug"> <appender-ref ref="LIBSVM_SIG_G_pos_C_high" /> </logger>
    </Loggers>
</Configuration>
